{
    "presets": ["next/babel", "linaria/babel"],
    "plugins": [
        ["babel-plugin-root-import", {
            "paths": [
                {
                    "rootPathSuffix": "./",
                    "rootPathPrefix": "/"
                }
            ]
        }]
    ]
}