$primary: #2196f3;
$primaryDarker: #1565c0;
$primaryLighter: #90caf9;
$black: #141414;
$gray: #efeff1;
$darkGray: #bcbfc5;
$darkerGray: #898e98;
$lightGray: #F1F1F3;
$lighterGray: #F9F9F9;
$red: #ff5d51;
$green: #80d022;

:export {
    primary: $primary;
    primaryDarker: $primaryDarker;
    primaryLighter: $primaryLighter;
    black: $black;
    gray: $gray;
    darkGray: $darkGray;
    darkerGray: $darkerGray;
    lightGray: $lightGray;
    lighterGray: $lighterGray;
    red: $red;
    green: $green;
}