@use './colors.module';

$distanceProps: ('mb':'margin-bottom', 'mt':'margin-top', 'mr':'margin-right', 'ml':'margin-left', 'pb':'padding-bottom', 'pt':'padding-top', 'pr':'padding-right', 'pl':'padding-left', 'p':'padding');

$distances:
    60 48 32,
    48 36 24,
    24 16 12,
    16 12 8,
    8 6 4;

@each $class, $prop in $distanceProps {
    @each $d, $t, $m in $distances {
        :global(.#{$class}-#{$d}) {
            #{$prop}: #{$d} + px;
            @media (min-width: 768px) and (max-width: 1024px) { #{$prop}: #{$t} + px; }
            @media(max-width: 767px) { #{$prop}: #{$m} + px; }
        }
    }
}

:global(.message) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    font-size: 18px;
    transform: translateY(-100%);
    transition: all .3s ease-in-out;
    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 64px;
    }
}
:global(.message.success) {
    background: colors.$green;
}
:global(.message.error) {
    background: colors.$red;
}
:global(.message.visible) {
    transform: translateY(0%);
}