@use './../../colors.module';

.pageInfo {
    background: colors.$black;
    color: white;
    height: 42px;
    min-width: 150px;
    background: colors.$primary;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: flex-start;
    justify-content: center;
    div:first-child {
        font-size: 14px;
        line-height: 1.1;
    }
    div:last-child {
        font-size: 12px;
        opacity: .8;
        line-height: 1.1;
    }
    @media (pointer: fine) { &:hover {
        background: colors.$primaryHover;
    }}
}

.tabs {
    width: calc(100% - 38px - 16px);
    display: flex;
    button {
        flex: 1;
    }
}