.toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;
    svg {
        margin-right: 6px;
    }
}

.tabs {
    width: calc(100% - 38px - 16px);
    display: flex;
    button {
        flex: 1;
    }
}