@use './../colors.module';

.wrapper {
    background: colors.$uiDark;
    height: 42px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    > div > ul {
        display: flex;
        li {
            > div:first-child {
                padding: 0 15px;
            }
            height: 42px;
            display: flex;
            align-items: center;
            position: relative;
            color: #E7E7E7;
            font-size: 16px;
            cursor: pointer;
            -webkit-font-smoothing: antialiased;
            font-weight: 400;
            @media (pointer: fine) { &:hover {
                background: colors.$uiDarkHover;
            }}
        }
    }
}

.dotToggle {
    height: 42px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 10px!important;
    svg {
        width: 22px;
        height: 22px;
        margin: 0 0 -2px 0;
    }
}

.submenu {
    background: colors.$uiDark;
    position: fixed;
    left: 0;
    bottom: 42px;
    flex-wrap: wrap;
    width: 200px;
    li {
        width: 100%;
        padding: 0 10px!important;
        svg {
            margin-right: 6px;
        }
    }
}