@use './../colors.module';

.moduleBrowser {
    color: colors.$black;
    position: relative;
}

.module {
    position: relative;
    > div {
        border: 3px solid colors.$uiTab;
        cursor: pointer;
        font-weight: 600;
        font-size: 1.6em;
        @media (pointer: fine) { &:hover {
            border: 3px solid colors.$primary;
        }}
    }
}