@use './../colors.module';

.publishButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: colors.$green;
    height: 100%;
    color: colors.$black;
    position:relative;
    @media (pointer: fine) { &:hover {
        background: colors.$green!important;
    }}
    svg {
        margin-right: 6px;
    }
}