@use './../colors.module';

.inputWrapper {
    font-family: 'Arial', sans-serif;
    input, textarea {
        height: 50px;
        min-height: 50px;
        font-size: 18px;
        width: 100%;
        outline: none;
        line-height:1;
        padding: 0 16px;
        box-shadow: none;
        border: 3px solid transparent;
        border-radius: 10px;
        transition: all .2s ease-in-out;
        -webkit-font-smoothing: antialiased;
        background-color: colors.$uiTab;
        color: colors.$uiWhite;
        -moz-osx-font-smoothing: grayscale;
        font-family: "Arial", sans-serif;
        &::placeholder {
            color: colors.$darkGray;
            opacity: 1;
        }
        &:read-only { opacity: .6; }
        &:focus {
            box-shadow: none;
            background: colors.$uiTabActive;
        }
        &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill, &:-webkit-autofill-strong-password, &:-webkit-autofill-strong-password-viewable {
            box-shadow: 0 6px 24px rgba(0,0,0,.06), 0 2px 6px rgba(31,26,34,.06), 0 0 0 50px white inset!important;
            background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0))!important;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
    textarea {
        min-height: 100px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.withIicon {
    input, textarea {
        padding-left: 42px;
    }
    > svg {
        position: absolute;
        width:28px;
        height:28px;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
}

.small {
    input, textarea {
        padding: 2px 8px 0;
        height: 28px;
        min-height: 28px;
        font-size: 15px;
        line-height: 1;
        border-radius: 6px;
        box-shadow: none;
    }
    input {
        padding-bottom: 2px;
    }
    textarea {
        min-height: 100px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
.withIconSmall {
    input, textarea {
        padding-left: 30px;
    }
    > svg {
        width:20px;
        height:20px;
        left: 8px;
    }
}

.medium {
    input, textarea {
        padding: 0 10px;
        height: 36px;
        min-height: 36px;
        font-size: 16px;
        border-radius: 8px;
    }
    textarea {
        min-height: 100px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
.withIconMedium {
    input, textarea {
        padding-left: 30px;
    }
    > svg {
        width:20px;
        height:20px;
        left: 8px;
    }
}

.disabled {
    opacity: .6;
    pointer-events: none;
    user-select: none;
}

.suffix {
    position: absolute;
    top: 50%;
    right: 10px;
    color: colors.$uiWhite;
    font-size:16px;
    line-height: 1;
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
}