@use './../colors.module';

.wrapper {
    min-height: 50px;
    font-size: 18px;
    width: 100%;
    outline: none;
    line-height:1;
    padding: 6px 6px 0;
    box-shadow: none;
    border: 3px solid transparent;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-wrap: wrap;
    background-color: colors.$uiTab;
    color: colors.$uiWhite;
}

.valueItem {
    padding: 2px 10px 2px 12px;
    margin: 0 6px 6px 0;
    height: 32px;
    border-radius: 8px;
    background: colors.$uiTabActive;
    color: colors.$black;
    font-size: 16px;
    line-height:1;
    display: inline-flex;
    align-items: center;
    span {
        position:relative;
        top:-1px;
        color: colors.$uiWhite;
    }
    > svg {
        cursor:pointer;
        margin-left: 8px;
        path:last-child {
            fill: colors.$uiWhite;
        }
        &:hover {
            @media(pointer: fine) {
                path:last-child {
                    fill: colors.$red;
                }
            }
        }
    }
}

.newItem{
    display: flex;
    height: 32px;
    margin-bottom: 6px;
    flex: 1;
    input {
        height: 32px;
        min-height: 32px;
        max-height: 32px;
        min-width: 120px;
        width: 120px;
        font-size: 17px;
        flex: 1;
        outline: none;
        line-height:1;
        padding: 0;
        box-shadow: none;
        border: none;
        background: transparent;
        margin-right: 6px;
        color: colors.$uiWhite;
        &::placeholder {
            color: colors.$darkGray;
            opacity: 1;
        }
        &:read-only { opacity: .6; }
        &:focus {

        }
        &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill, &:-webkit-autofill-strong-password, &:-webkit-autofill-strong-password-viewable {
            box-shadow: 0 6px 24px rgba(0,0,0,.06), 0 2px 6px rgba(31,26,34,.06), 0 0 0 50px white inset!important;
            background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0))!important;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    button {
        height: 32px;
        min-height: 32px;
        border-radius: 8px;
    }
}
.smallNewItem {
    height: 24px;
    margin-bottom: 4px;
    input {
        font-size: 16px;
        height: 24px;
        min-height: 24px;
    }
    button {
        height: 24px;
        min-height: 24px;
        font-size: 14px;
    }
}

.focused {
    box-shadow: none;
    background: colors.$uiTabActive;
}

.valueItemFocused {
    background: colors.$uiTab;
}

.disabled {
    opacity: .6;
    pointer-events: none;
}

.small {
    font-size: 16px;
    min-height: 36px;
    padding: 4px 4px 0;
}

.smallValueItem {
    margin: 0 6px 4px 0;
    height: 24px;
    font-size: 14px;
    border-radius: 6px;
}